.main {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 130vh;
}

.product-detail-container {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  margin: 0 auto;
  flex: 1;
}

.image-container {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .product-image {
    width: 70%;
    height: 90%;
  }
}

.info-container {
  background-color: white;
  width: 50%;

  .product-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 60px 0px 20px 0px;
  }

  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .product-price {
      font-size: 1.6rem;
      font-weight: 600;
      margin: 0px 10px;
    }

    .old-price {
      font-size: 1.1rem;
      color: gray;
      text-decoration: line-through;
    }
  }

  .text {
    font-size: 1.1rem;
    margin: 10px 50px 10px 0px;
  }

  .sub-description {
    display: flex;
    flex-direction: row;
  }

  .main-description {
    margin-top: 30px;
    min-height: 35%;
  }

  .button-list {
    display: flex;
    flex-direction: row;

    .add-to-cart,
    .go-to-cart {
      background-color: #ffc371;
      color: #ffffff;
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 9999px;
      font-weight: 500;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-right: 20px;
    }

    .add-to-cart:hover {
      background-color: rgba(255, 195, 113, 0.9);
    }

    .go-to-cart {
      background-color: gray;
    }

    .go-to-cart:hover {
      background-color: rgb(175, 175, 175);
    }
  }
}
