.related-container {
  margin: 2rem auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;

  .title {
    font-weight: 600;
    font-size: 30px;
    margin: 50px 0 20px 20px;
  }

  .related-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 20px;
  }
}
